.divclear {clear:both;}

a.red_link {color: #CC0000;}
a.red_link:hover {color:#FF0000;}

.alert-icon {
	padding-left: 64px;
	min-height: 64px;
}
.alert-icon-error {
	background-image: url('../images/icons/error.png');
	background-repeat: no-repeat;
	background-position: 15px 10px;
}
.alert-icon-warning {
	background-image: url('../images/icons/warning.png');
	background-repeat: no-repeat;
	background-position: 15px 15px;
}
.alert-icon-info {
	background-image: url('../images/icons/info.png');
	background-repeat: no-repeat;
	background-position: 15px 10px;
}
textarea.no-hresize {
	resize: vertical;
	min-height:100px;
	max-height:400px;
}
.show_on_edit {display:none;}
.siz-fullwidth {width:100%;}
.siz-divsmall {font-size:0.9em;}
.siz-input-anggaran input[type="text"] {width:150px;}
/* =========== SIZ MODAL DIALOG ===========- */
#siz_overlaydlg_loading {
	padding: 20px 10px;
	text-align: center;
	display:none;
}

/* =========== SIZ FORMS ================== */
.siz-form-penerimaan {border-color:#289157;}
.siz-form-penerimaan .widget-title {
	height:48px;background-color: #289157; background-image:none; color:#fff;
	box-shadow:none;
}
.siz-form-penerimaan .widget-title h5 {
	font-size: 1.1em; color:#fff; text-shadow:none;
}

/* =========== SIZ TABLES ================== */
.siz-operation-table {font-size:0.9em;}
.siz-operation-table .loading-circle {display:none;}
.siz-operation-table tr.editing_row td,
.siz-operation-table tr.editing_row td:hover {
	background-color: #EFEDD0 !important;
}
.siz-operation-table tr.editing_row td:first-child {
	border-left: solid 5px #C9C7B1;
}
.siz-operation-table tr.form_row td {
	background-color: #DDDDDD !important;
}
.siz-operation-table tr.form_row td:first-child {
	border-left: solid 5px #AAAAAA;
}
.siz-table-detail, .siz-table-detail-input {width: 100%;}
.siz-table-detail tr td, .siz-table-detail-input tr td {padding: 5px;}
.siz-table-detail tr td:first-child {vertical-align: top;width: 200px;}
.siz-table-detail tr td:nth-child(2) {font-weight: bold;}
.siz-table-detail tr td:nth-child(2):before {content: ': ';}
.siz-table-detail-input tr td:first-child {width: 200px;}

.siz-table-ra-kegiatan input[type=text],
.siz-table-ra-kegiatan input[type=number],
 {width: 100%;}
 
.siz-row-highlight-fordelete td {background-color: #F4BABA !important;}
.siz-table-timeline {
	font-size:0.8em;
}
.siz-table-timeline td {
	padding: 3px !important;
}
.siz-table-timeline th.tm-day {
	width: 32px;
}

.siz-table-withcheck tr td:first-child,
.siz-table-withcheck tr th:first-child {
	width: 10px;
	text-align: center;
}

.siz-p-conclude {
	font-size: 1.1em;
}
.siz-desc-nota {
	font-size: 0.8em; color: #555;
}
.siz-desc-container {
	min-height: 100px;
}
textarea.siz-desc-container {resize: vertical;max-height: 200px; min-height: 100px;display:block; width: 100%;}
.td-prioritas {text-align: center;width:75px;}

.siz-container-month {
	margin: 0px 10px 20px;
	padding: 0px 0px 5px;
}
#siz_loading_overlay {
	position: fixed; top: 0px; left:0px;bottom:0px;right:0px;
	background-color:rgba(0,0,0,0.2);
	z-index:1050; cursor:wait; display: none;
}
#siz_loading_infobox {
	text-align: center; width: 400px; padding: 10px; margin: 50px auto 0px; background-color:#fff;box-shadow:0 0 3px rgba(0,0,0,0.5);
}
#siz-benchmark {color: #A1DDBC;text-shadow:none;}

/* ================ Style untuk AM_SIZ_BANKLIST ======== */
.siz_bank_logo {
	width: 175px;
}
/* ================ Style untuk AM_SIZ_PERSMN_AKUN ===== */
.siz_pers_parent_ctr {
	padding-left: 10px;
	margin: 10px 0;
}
.siz_pers_parent_ctr .parent_title {
	background-color:#EFEDF2;
	padding: 5px;
}
.out_container {
	background-color:#EFEDF2;
	padding: 5px;
	border-right: solid 5px #6C6B6D;
}
.siz_perimbangan_boxsumber {
	width: 300px;
	max-width: 300px;
	background-color: #f9f9f9;
}
.siz_perimbangan_boxsumber .siz_item_sumber {
	background-color: #DAEAE0;
	border-left: solid 5px #1F7044;
	padding: 5px;
	margin: 3px;
	position: relative;
}
.siz_item_sumber .nama_akun {
	width: 70%;
}
.siz_item_sumber .control_akun {
	position: absolute;
	width: 38px;
	right: 0px;
	top: 5px;
	font-size: 0.9em;
}
.siz_item_sumber .meta {
	font-size: 0.9em;
}
.siz_item_sumber.highlight {
	background-color: #ECF954;
}
.siz_item_sumber.editing {
	background-color: #EFEDD0;
}
.siz_perimbangan_boxsumber .siz_form_tambahsumber {
	background-color: #DDD;
	border-left: solid 5px #AAA;
	padding: 5px;
	margin: 3px;
}
.siz_item_control {
	padding: 5px;
	margin: 3px;
}
/* ================ Style untuk AM_SIZ_RA_HOME ======== */
.siz-dok-empty {
	padding: 20px;
	text-align: center;
}
.siz-ra-home-monthseparator {
	background-color:#EEECF1;
	padding: 10px;
}
/* ================ Style untuk AM_SIZ_RA_REKAPTHN ==== */
.siz_kegiatan_bulan {
	display: block;
	position: absolute;
}
.siz_detail_tooltip {
	display: none;
	width: 300px;
	font-size: 10pt;
	background-color: #fff;
	padding: 5px;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	z-index: 90;
	left: -50px;
}
.siz_kegiatan_bulan:hover .siz_detail_tooltip {
	display: block;
}

/* ================ Style untuk AM_SIZ_MAP_PENERIMAAN ==== */
.siz_import_map_metainfo {font-size:0.8em;}

/* ================ Style untuk AM_SIZ_RA_DTLRPT ========= */

.siz-akuncontainer .parent_title {
	background-color:#EFEDF2;
	padding: 5px;
	margin-bottom: 5px;
}
.siz-akuncontainer .parent_content {
	padding:5px;
}
.siz-akuncontainer {
	
}
.siz-rekap-item {margin-bottom: 5px;}
.siz-akuncontainer .div-alert {
	color: #999; text-align: center; margin-top: 10px;
}